html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

li {
  cursor: pointer;
}

h4 {
  color: #fff;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 1096px) {
  h1 {
    font-size: 32px;
  }

  .search-location-text {
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
  }

  .search-location {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  h4 {
    font-size: 16px;
  }

  * {
    font-size: 12px;
  }

  .search-location-text {
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
  }

  .search-location {
    padding: 5px 8px 5px 8px;
  }

  .text {
    padding-left: 10px  ;
  }
}

@media screen and (max-width: 550px) {
  * {
    font-size: 10px;
  }

  .text {
    padding-left: 5px;
  }

  h1 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  h4 {
    font-size: 13px;
  }

  .search-location-text {
    width: 90px;
    height: 30px;
  }
}

@media screen and (max-width: 340px) {

  * {
    font-size: 8px;
  }

  h1 {
    font-size: 16px;
  }

  .search-location-text {
    width: 68px;
    height: 25px;
  }

  .search-location {
    padding: 4px 6px 4px 6px;
  }

  #options-box {
    width: 40%;
  }
}

#hide-options {
  cursor: pointer;
}

.container {
  height: 100%;
  position: relative;
}

.heading {
  background-color: #696969;
  padding: 20px;
  left: 30%;
  right: 0px;
  top: 0;
  position: absolute;
  height: 7%;
}

.map {
  top: 0;
  min-height: 100%;
  left: 30%;
  position: absolute;
  right: 0px;
}

#options-box {
  background-color: #000;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  margin: 0;
  text-align: left;
  width: 30%;
  min-height: 100%;
}

.hide {
  display: none;
}

.resize {
  min-width: 100%;
  left: 0;
}

.rearrange {
  left: 0;
}

.text {
  padding-top: 10px;
  color: #fff;
}

.padding-left {
  padding-left: 10px;
}

#pano {
  width: 200px;
  height: 200px;
}


#list {
  overflow-y: scroll;
}